# APP settings:
APP_HOST="0.0.0.0"
APP_PORT=3000
APP_READ_TIMEOUT=30
APP_DEBUG=false

# JWT settings:
JWT_SECRET_KEY="97fb38c796601c55cf6f9dc57c3250f5"
JWT_SECRET_KEY_EXPIRE_MINUTES_COUNT=15


# Supabase Postgres (direct)
DB_HOST=db.pvebxxxnczwffmxxdpftqtpa.supabase.co
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=2GrOxxfEzxxxxxeFxx9AWFxNPW
DB_NAME=postgres
DB_SSL_MODE=require

DB_MAX_OPEN_CONNECTIONS=10
DB_MAX_IDLE_CONNECTIONS=2
DB_MAX_LIFETIME_CONNECTIONS=600

# Optional: simplest for libraries that want a single DSN
DATABASE_URL=postgresql://postgres:2GrOxxfEzxxxxxeFxx9AWFxNPW@db.pvebxxxnczwffmxxdpftqtpa.supabase.co:5432/postgres?sslmode=require


